h1 {
  color: red;
}

h2 {
	color: white;
    font-size: 40px;
    font-style: arial;
}


h3 {
    color: white;
    font-size: 30px;
    font-style: arial;
}

body {
    background-image: url("bg-images/bg4.jpg");
    background-size: cover;
}

#banner {
	background-color: black;
}

a {
	animation: cubic-bezier(); 
}

ul {
	list-style-type: none;
}

#options {
	height: 580px;
	width: 200px;
	background-color: lightblue;
}

div.start {
	background-color: lightgreen;
	border: 5px solid green;
	width: 100px;
	height: 30px;
}

#button1 {
	vertical-align: middle;
}

div.mainMenu {
	background-color: yellow;
	font-size: 25px;
}

a {
    background-color: red;
    border-color: green;
    border-width: 16px;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover {
	background-color: yellow;
}

div.content a:link{
    background-color: red;
    border-color: green;
    border-width: 16px;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

div.content a:hover {
	background-color: yellow;
}

input[type=text], input[type=password], input[type=number], input[type=datetime-local]{
	padding: 20px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    width: 300px;
    height: 40px;
    font-style: arial;
    font-size: 16px;
    transition: width 1s;
    -webkit-transition: width 1s;
}

input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, input[type=datetime-local]:focus{
    width: 350px;
    border-color: #00BFFF;
}


input[type=file]{
    color: transparent;
    width: 100px;
    height: 50px;
    font-style: arial;
    font-size: 16px;
}

input[type=submit]{
    width: 100px;
    height: 40px;
    font-style: arial;
    font-size: 16px;
     transition: width 1s;
    -webkit-transition: width 1s;
}

input[type=submit]:hover{
    width: 150px;
}



html { 
    color: lightblue;
    font: 16px 'Arial';
    line-height: 150%;
}

div.login {
    background: blue;
    margin: 50px auto 0;
    padding: 20px;
    width: 400px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0,0,0,.9);
    border-radius: 25px;
}

.login {
    -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
    transform: skewY(-5deg);
}


div.login {
    transition: width 1s;
    -webkit-transition: width 1s;
}

div.login:hover {
    width: 500px;
}


.log-out:hover {
    background-color: yellow;
    border: 3px;
    width: 120px;
}

.log-out {
    background: blue;
    margin: 10px auto 0;
    padding: 20px;
    width: 100px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0,0,0,.9);
    border-radius: 25px;
    transition: width 1s;
    -webkit-transition: width 1s;
}

.log-out {
    -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
    transform: skewY(-5deg);
}

.initPlan {
    background-color: #6A5ACD;
    opacity: 0.7;
    margin: 5px auto 0;
    padding: 5px;
    width: 500px;
}

.initPlan:hover{
    background-color: #2F2F4F;
    opacity: 0.8;
}

.label {
    font-size: 30px;
    color: white;
}

label.label {
    font-size: 20px;
    color: white;
}


div.menu2 {
    align-content: left;
    background: blue;
    margin: 50px auto 0;
    padding: 20px;
    width: 700px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0,0,0,.9);
    border-radius: 25px;
}

div.menu2 {
    transition: width 1s;
    -webkit-transition: width 1s;
}

div.menu2:hover {
    width: 750px;
}

.menu:hover {
    background-color: yellow;
    border: 3px;
    width: 200px;
}

.menu {
    background: blue;
    margin: 10px auto 0;
    padding: 20px;
    width: 180px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0,0,0,.9);
    border-radius: 25px;
    transition: width 1s;
    -webkit-transition: width 1s;
}

.menu {
    -webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    -o-transform: skewY(-2deg);
    transform: skewY(-2deg);
}


.place:hover {
    background-color: orange;
    border: 3px;
    opacity: 0.8;
    width: 320px;
}

.place {
    display: inline;
    display: block;
    background: orange;
    opacity: 1;
    color: black;
    margin: 10px auto 0;
    padding: 20px;
    width: 300px;
    height: 430px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0,0,0,.9);
    border-radius: 25px;
    transition: width 1s;
    -webkit-transition: width 1s;
}

.place {
    -webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    -o-transform: skewY(-2deg);
    transform: skewY(-2deg);
}

.journey:hover {
    background-color: yellow;
    border: 3px;
    width: 170px;
}

.journey {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline;
    display: block;
    float: left;
    background: blue;
    margin: 10px auto 0;
    padding: 20px;
    width: 150px;
    height: 50px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0,0,0,.9);
    border-radius: 25px;
    transition: width 1s;
    -webkit-transition: width 1s;
}

.journey {
    -webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    -o-transform: skewY(-2deg);
    transform: skewY(-2deg);
}

.none {
    float: left;
    background: none;
    margin: none;
    padding: none;
    width: 100px;
    height: 40px;
}

